p{
    margin: 0px;
}
/* Estilos para la cerámica */
.joyeria {
    position: relative;
    background-image: url('../img/joyeria.png');
    background-size: cover;
    background-position: center;
    height: 536px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.comestico {
    position: relative;
    background-image: url('../img/cosmeticos.png');
    background-size: cover;
    background-position: center;
    height: 536px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.artesanoInfo {
    height: 536px;
    display: flex;
    flex-direction: row;
    padding:0px 64px;
    justify-content: space-between;
    gap: 88px;
}

.tipografiaArteInfo{
    color: #000;
    font-family: var(--font-family1);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.infoDrecha {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 12px;
    height: 100%;
    flex-direction: column;
}

.infoIzquierda{
    width: 50%;
    height: 100%;
}
.hogar {
    position: relative;
    background-image: url('../img/hogar.png');
    background-size: cover;
    background-position: center;
    height: 536px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para el texto superior en ceramic-plate */
.upper-textJoyeria {
    color: white;
    position: absolute;
    font-family: var(--font-family);
    left: 50%;
    font-size: 64px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
    /* Fondo transparente */
    padding: 5px 10px;
    /* Ajustado para reducir el espacio */
    border-radius: 5px;
}

.letraCardJoyeria{
    color: #000;
    text-align: center;
    font-family: var(--font-family1);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.precioCardJoyeria {
    color: #000;
    text-align: center;
    font-family: var(--font-family);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #777;
}

/* Estilos para el texto inferior en ceramic-plate */
.lower-textJoyeria {
    color: white;
    font-size: 32px;
    font-family: var(--font-family);

    position: absolute;
    bottom: 75px;
    /* Ajustado para dispositivos más pequeños */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
    /* Fondo transparente */
    padding: 5px 10px;
    /* Ajustado para reducir el espacio */
    border-radius: 5px;
}

/* Estilos para dispositivos más pequeños */
@media (max-width: 576px) {

    .lower-text {
        font-size: 18px;
        /* Reducción del tamaño de fuente */
    }

    .upper-text {
        top: 5px;
        /* Ajuste en la posición superior */
    }

    .lower-text {
        bottom: 15px;
        /* Ajuste en la posición inferior */
    }
}

/* Estilos para el filtro */
.filter-container {
    text-align: center;
    margin-bottom: 20px;
}

.filter-button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para los elementos del catálogo */
.catalogJoyeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 64px;
}

.corazonJoyeria{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    border: none;
}

.productJoyeria {
    width: calc(28% - 100px);
    position: relative;
    text-align: center;
    display: none; /* Ocultar inicialmente todos los productos */
}

.nombrePreciJoyeria{
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.verMasJoyeria{
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
    border: 1px solid #000;
    background: #000;
}

.verMasJoyeria p {
    color: white;
    font-size: 22px;
    font-family: var(--font-family);
}
.productJoyeria img {
    max-width: 100%;
    height: auto;
}

.productJoyeria h3 {
    font-size: 18px;
    margin: 10px 0;
}


/* Estilos para el botón */
.view-all-button {
    text-align: center;
    margin-top: 20px;
}

.view-all-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Estilos para el icono de corazón */
.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
}

.favorite-icon:hover {
    color: red;
}

/* Estilos para dispositivos más pequeños */
@media (max-width: 992px) {
    .productJoyeria {
        width: calc(33.33% - 20px);
    }
}

/* Estilos para dispositivos más pequeños */
@media (max-width: 768px) {
    .productJoyeria {
        width: calc(50% - 20px);
    }
    .upper-textJoyeria{
        font-size: 32px;
    }
    .lower-textJoyeria {
        font-size: 22px;
    }
}

/* Estilos para dispositivos más pequeños */
@media (max-width: 576px) {
    .productJoyeria {
        width: calc(100% - 20px);
    }
}