/* Estilos para el contenedor principal */
.derechaPerdidosUser {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
  padding: 20px;
}
.botonesAddNewArtesano{
  display: flex;
  gap: 10px;
}
.perfilArtesanoProductoParte1{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 20px 32px 96px;
  gap: 60px;
  height: 100%;
}
.botonesPedidosArtesano{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
/* Estilos para el contenedor de productos */
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Estilos para los elementos individuales de producto */
.product-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  max-width: 300px;
  transition: transform 0.3s ease; /* Transición suave al hacer hover */
}
.product-itemProducto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  transition: transform 0.3s ease; /* Transición suave al hacer hover */
}

.product-itemProducto:hover {
  transform: translateY(-5px); 
}
.product-item:hover {
  transform: translateY(-5px); /* Levanta ligeramente el producto al hacer hover */
}
.cardPerdidosUser {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: var(--font-family);
  width: calc(25% - -75px);
  box-sizing: border-box;
}

/* Estilos para la imagen del producto */
.product-item img {
  max-width: 100%;
  height: auto;
}

/* Estilos para los detalles del producto */
.product-item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-item-details label {
  color: #000;
  text-align: center;
  font-family: var(--font-family1);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

/* Estilos para los botones de acción */
.product-item-actions {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

/* Estilos para el botón de ayuda */
.help-button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 350px;
  text-align: center;
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.table-containerPerdidosUser{
  width: 100%;
}
/* Media Query para pantallas más grandes */
@media screen and (max-width: 768px) {
  /* Ajustes para los contenedores en pantallas más grandes */
  .derechaPerdidosUser {
    align-items: flex-start;
  }

  .product-container {
    justify-content: flex-start;
  }

  /* Ajustes para los elementos individuales en pantallas más grandes */
  .product-item {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
  .perfilArtesanoProductoParte1{
    flex-direction: column;
  
  }
}
.perfilUserParte1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 20px 32px 96px;
    gap: 60px;
    height: 100%;
}


.containerPerdidosUser {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: auto;
  font-family: var(--font-family);
  font-size: 18px;
}
/* Animación al agregar nuevo producto */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
